@{
}
@section Scripts{
@*
<script>
    //app.pageHeader  ='HOME_pageHeader';
    //app.pageTitle = 'HOME_pageTitle';
    //ioLD();
</script>
*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.0-rc.2.20475.17/signalr.min.js"></script>
<script src="~/js/pages/index.js" type="module"></script>
}
<div class="row">
    <div class="col-xl-6 card mb-3 overflow-hidden f-s-16 border-0 bg-gradient-cyan-indigo" style="min-height: 202px;">
        <div class="card-img-overlay mb-n4 mr-n4 d-flex" style="bottom: 0; top: auto;">
            <img src="/icons/index/smart-tv.svg" class="ml-auto d-block mb-n3" style="max-height: 105px">
        </div>
        <div class="card-body position-relative">
            <h4 class="text-white mb-3 f-s-20">Auth services</h4>
            <div class="text-white-transparent-8"><i class="far fa-circle"></i> Access control to private data</div>
            <div class="text-white-transparent-8"><i class="far fa-circle"></i> Corporation level access</div>
            <div class="text-white-transparent-8"><i class="far fa-circle"></i> Direction access to members data</div>
            <div class="text-white-transparent-8"><i class="far fa-circle"></i> Recruting</div>
            <div class="text-white-transparent-8"><i class="far fa-circle"></i> Taxes</div>
            <div class="text-white-transparent-8"><i class="far fa-circle"></i> Members login and online history</div>
            <div class="text-white-transparent-8"><i class="far fa-circle"></i> Members skills management</div>
            <div class="text-white-transparent-8"><i class="far fa-circle"></i> And more ...</div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="row">
            <div class="col-sm-6">
                <div class="card mb-3 overflow-hidden f-s-16 border-0 bg-gradient-custom-orange" style="min-height: 202px;">
                    <div class="card-img-overlay mb-n4 mr-n4 d-flex" style="bottom: 0; top: auto;">
                        <img src="/icons/index/alien.svg" class="ml-auto d-block mb-n3" style="max-height: 105px">
                    </div>
                    <div class="card-body position-relative">
                        <h4 class="text-white mb-3 f-s-20">Feed</h4>
                        <div class="text-white-transparent-8"><i class="far fa-circle"></i> Subscribes to events</div>
                        <div class="text-white-transparent-8"><i class="far fa-circle"></i> Telegram connector</div>
                        <div class="text-white-transparent-8"><i class="far fa-circle"></i> Connections between corporation members</div>

                    </div>

                </div>


                <div class="card mb-3 overflow-hidden f-s-16 border-0 bg-gradient-custom-teal" style="min-height: 202px;">

                    <div class="card-img-overlay mb-n4 mr-n4 d-flex" style="bottom: 0; top: auto;">
                        <img src="/icons/index/industry.svg" class="ml-auto d-block mb-n3" style="max-height: 105px">
                    </div>


                    <div class="card-body position-relative">
                        <h4 class="text-white mb-3 f-s-20">Market</h4>
                        <div class="text-white-transparent-8"><i class="far fa-check-circle"></i> Contracts</div>
                        <div class="text-white-transparent-8"><i class="far fa-check-circle"></i> Orders</div>
                        <div class="text-white-transparent-8"><i class="far fa-check-circle"></i> Custom filters</div>
                    </div>

                </div>

            </div>


            <div class="col-sm-6">

                <div class="card mb-3 overflow-hidden f-s-16 border-0 bg-gradient-custom-pink" style="min-height: 202px;">

                    <div class="card-img-overlay mb-n4 mr-n4 d-flex" style="bottom: 0; top: auto;">
                        <img src="/icons/index/jetpack.svg" class="ml-auto d-block mb-n3" style="max-height: 105px">
                    </div>


                    <div class="card-body position-relative">
                        <h4 class="text-white mb-3 f-s-20">Warface</h4>
                        <div class="text-white-transparent-8"><i class="far fa-circle"></i> Kills</div>
                        <div class="text-white-transparent-8"><i class="far fa-circle"></i> Wars</div>
                        <div class="text-white-transparent-8"><i class="far fa-circle"></i> Fraction wars</div>
                        <div class="text-white-transparent-8">
                            <i class="far fa-circle"></i> Incursions
                        </div>
                    </div>

                </div>


                <div class="card mb-3 overflow-hidden f-s-16 border-0 bg-gradient-custom-indigo" style="min-height: 202px;">

                    <div class="card-img-overlay mb-n4 mr-n4 d-flex" style="bottom: 0; top: auto;">
                        <img src="/icons/index/universe.svg" class="ml-auto d-block mb-n3" style="max-height: 105px">
                    </div>


                    <div class="card-body position-relative">
                        <h4 class="text-white mb-3 f-s-20">Universe</h4>
                        <div class="text-white-transparent-8"><i class="far fa-check-circle"></i> Types</div>
                        <div class="text-white-transparent-8"><i class="far fa-check-circle"></i> Space</div>
                        <div class="text-white-transparent-8"><i class="far fa-circle"></i> Map</div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="dx-la"></div>
    </div>
</div>