@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/js/pages/market/contracts.js" type="module"></script>
}
<style>
    #mcg-tr .dx-toolbar .dx-texteditor{width:94%!important;}
    #mcg-tr .dx-toolbar .dx-toolbar-after{padding-left:0px;width:100%!important;}
    #mcg-tr .dx-datagrid-search-panel{margin-left:0px;}
</style>
<div class="row">
    <div class="col col-xl-3">
        <div id="ctr_tabs"></div>
        <div id="mcg-tr"></div>
        <div id="mcb-tr"></div>
    </div>
    <div class="col-xl-9 p-l-15 p-r-15" id="cnt">
        @*Toolbar*@ 
        <div id="mct" class="m-b-5 p-2"></div>
        @*Load btn *@ 
        <div id="btnLo" class="m-b-5"></div>
        @*DataGrid*@ 
        <div id="mcs-dg"></div>
    </div>
</div>