<div class="profile">
    <div class="profile-header">
        <div class="profile-header-cover"></div>
        <div class="profile-header-content">
            <div class="profile-header-img">
                <a id="characterPortraitUrl">
                    <img id="characterPortrait">
                </a>
            </div>
            <div class="profile-header-info">
                <h1 class="mt-0 mb-1 page-header" id="charPrevName"></h1>
                <div id="charPrevCorporation"></div>
                <div id="prBlAlliance">
                    <div id="charPrevAlliance"></div>
                </div>
                <div id="charPrevSecStatus"></div>
            </div>
        </div>
        <div class="profile-header-tab nav nav-tabs">
            @*<li class="nav-item"><a href="#profile-post" class="nav-link active" data-toggle="tab">POSTS</a></li>
            <li class="nav-item"><a href="#profile-about" class="nav-link" data-toggle="tab">ABOUT</a></li>
            <li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">PHOTOS</a></li>
            <li class="nav-item"><a href="#profile-videos" class="nav-link" data-toggle="tab">VIDEOS</a></li>
            <li class="nav-item"><a href="#profile-friends" class="nav-link" data-toggle="tab">FRIENDS</a></li>*@
            <div id="characterIndMenu"></div>
        </div>
    </div>
</div>