<div class="profile">
    <div class="profile-header">
        <div class="profile-header-cover"></div>
        <div class="profile-header-content">
            <div class="profile-header-img">
                <a id="alliancePortraitUrl">
                    <img id="alliancePortrait">
                </a>
            </div>
            <div class="profile-header-info">
                <h1 class="mt-0 mb-1 page-header" id="allyPrevName"></h1>
                <div id="allyPrevSecStatus"></div>
            </div>
        </div>
        <div class="profile-header-tab nav nav-tabs">
            <div id="allianceIndMenu"></div>
        </div>
    </div>
</div>