<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col">
        <div id="translate_dxGrid" style="height: 440px;"></div>
    </div>
</div>
@section Scripts {
<script src="~/js/admin-site.js" asp-append-version="true"></script>
<script>AdminTranslateDataGrid();</script>
}